@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Raleway";
  color: #333;
}

h2 {
  text-align:center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #e7f9fc; */

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 3rem;
}

/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  color: #363636;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #036473;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #036473;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #043037;
}

/* HOME SECTION */

.section-home {
  /* background-color: #e7f9fc; */
  padding: 2.4rem 0 9.6rem 0;
}

.home {
  /* max-width: 130rem; */
  /* margin: 0 auto; */
  /* padding: 0 3.2rem; */
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.home-text-box {
  text-align: center;
}

.heading-primary {
  text-align: center;
  font-size: 2.25rem;
  line-height: 1.05;
  /* margin-bottom: 3.2rem; */
}

.home-description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* COMPARE */

.compare-dropdown form{
  display: inline-block; 
}

.compare-button {
  text-align: center;
  padding-top: 300px;
}

.dropdown1 select, .dropdown2 select{
  width : 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block; 
}

.dropdown1 form{
  float: left;
  padding-left: 20px;
  padding-top: 100px;
}

.dropdown2 form{
  float: right;
  padding-right: 20px;
  padding-top: 100px;
}

.result {
  display : flex;
  justify-content: space-around;
  
}

.chart {
  width: 40%;
  height: 40%;
}


