@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Raleway";
  color: #333;
  scroll-behavior: smooth;
}

html {
  /* font-size: 90%; */
  background: rgb(163,221,255);
  background: linear-gradient(0deg, rgba(163,221,255,1) 0%, rgba(232,247,255,1) 54%, rgba(165,221,255,1) 100%);
}

h2 {
  text-align:center;
  padding: 0 0 1rem 0;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* ================================================================ */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  height: 80px;
  padding: 0 70px;
  background-color: #24252A;
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.4);
}

.header:hover {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease; 
}

.navbar-logo {
  color: white;
  cursor: pointer;
  font-size: 30px;
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a, 
.contact-button button{
  text-decoration: none;
  position: relative;
  color:white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav__links li a:hover::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  border-bottom: 3px solid #0088a9;
  transition: border-bottom 0.3s ease;
}

.nav__links li a.active::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  border-bottom: 3px solid #0088a9;
  transition: border-bottom 0.3s ease;
}

.contact-button {
  margin-left: 20px;
}

.contact-button button {
  padding: 13px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact-button button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


/* ================================================================ */

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgba(164,221,255,1);
  height: 3.5rem;
  padding: 0 4.8rem;
  position: sticky;
  top: 0;
}

.logo {
  height: 2rem;
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  position: sticky;
  top: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #363636;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #036473;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #036473;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #043037;
}
*/

/* .underline {
 text-decoration: underline;
} */

/* HOME SECTION */

.section-home {
  /* background-color: #e7f9fc; */
  padding: 2.4rem 0 9.6rem 0;
}

.home {
  /* max-width: 130rem; */
  /* margin: 0 auto; */
  /* padding: 0 3.2rem; */
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.home-title{
  /* background-color: #e7f9fc; */
  text-align: center;
}

.heading-primary {
  text-align: center;
  font-size: 4.5rem;
  line-height: 1.05;
  margin-top: 3rem;
}

.heading-left {
  text-align: left;
}

.heading-subtitle {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  margin-bottom: 2rem;
}


/* OVERVIEW SECTION */
.section-overview {
  padding: 2.4rem 0 9.6rem 0;
}

.overview-header{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.overview-header-text{
  text-align: center;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 10rem;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 550;
}

.column-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 15rem;
  text-align: center;
}

.button-text{
  text-align: center;
  line-height: 1.6;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.buttonContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  margin-left: 24rem;
  margin-right: 24rem;
  text-align: center;
}

.button {
  background-color: white;
  border: 3px solid #106698;
  color: #106698;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
}

/* UNIVERSITY SECTION*/
.university {
  padding: 2.4rem 0 9.6rem 0;
}

.university-header{
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.university-subheader{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 10rem;
}

.module-distribution{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 6rem;
}

.modules{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}


.module-list{
  text-align: left;
  font-size: 1rem;
  margin-bottom: 6rem;
  margin-left: 20rem;
}

.button-selected{
  background-color: #106698;
  border: 3px solid #106698;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
}

/* COMPARE */

.compare-dropdown{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 100px;
}

#compare-button {
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  background: linear-gradient(to right, #EBAA73, #E3767E);
  color: white;
}

.button-container {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown select{
  width : 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block; 
  border-radius: 20px;
  background: linear-gradient(to right, #333389, #504ECC);
  color: #fff;
}

.dropdown form{
  display: inline-block;
  margin: 0 20px;
  height: 40px;
}


.result {
  display : flex;
  justify-content: space-around;
}

.chart {
  width: 40%;
  height: 40%;
}

.compare {
  height: 150vh;
}

.compare h1 {
  background: linear-gradient(to right, #1167D1, #FF4B4B);
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.quiz-start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0px 140px 0px 100px;
}

.container-1,
.container-2 {
  flex: 1; /* Equal distribution of available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Take full height of parent (quiz-start) */
}

.box1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the bottom */
  padding: 40px;
  color: black;
}

.quiz-title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom:5px;
}

.quiz-desc {
  font-size: 18px;
  font-weight: 500;
  font-family: Helvetica;
  padding-bottom: 0px;
}

.box2 {
  margin-top: -20px;
  flex: 1;
  width: 100%;
  margin-left:80px;
}

.quiz-img {
  max-width: 100%;
  height: auto;
}

/* ===================================================================== */

.quiz-questions {
  background-color: rgba(164,221,255,1);
  /* background-color: #ADBBF2; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.quiz-page {
  margin-top: -40px;
  border-radius: 5px;
  background-color:#E7EFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #a3a3a3;
}

.question-headline {
  padding:  20px 0px 10px 20px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  color: #434656;
}

.bar-1 {
  align-self: center;
  width: 90%;
  height: 25px; 
  background-color: #757b98;
}

.question-bar {
  padding: 15px 20px 20px 25px;
  font-weight: bold;
  font-family: Helvetica;
  color: #434656;
}

.question-options {
  padding: 0px 20px 20px 20px;
  max-height: 48%;
}

.option-box {
  color: #434656;
  display: flex;
  padding: 0px 15px 0px 15px;
  align-items: center;
  height: 67px;
  border-radius: 5px;
  margin-bottom: 10px; 
  cursor: pointer;
  font-family: Helvetica;
  border: 1px solid #a3a3a3;
  /* background-color: rgb(90, 119, 246); rgb(66, 133, 244); */
  transition: background-color 0.3s, box-shadow 0.3s; /* Add a transition for both background color and box shadow */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

.option-box:hover {
  /* background-color: #1c5a8e;  */
  color:white;
  background-color: #4285F4;
}

.option-box.selected {
  /* background-color: #1c5a8e;  */
  color:white;
  background-color: #4285F4;
}

.option-box.selected:hover {
  /* background-color: #1c5a8e;  */
  color:rgb(207, 207, 207);
  background: #295396;
}

.option-questions:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: space-between; /* Place buttons at the beginning, between, and at the end of the container */
  align-items: center; /* Vertically center buttons */
  width: 92%; /* Ensure the buttons span the full width of the container */
  height: 10%;
  align-self: center;
}

.button-start, 
.button-1,
.button-2,
.button-3,
.button-4,
.button-5 {
  color:white;
  font-weight: bold;
  line-height: 1.5;
  width: 100px;
  border-radius: 5px;
  /* background-color: #2980b9; */
  background-color: #4285F4;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color 0.3s, box-shadow 0.3s; /* Add a transition for both background color and box shadow */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.button-start:hover, 
.button-1:hover,
.button-2:hover,
.button-3:hover {
  color:rgb(207, 207, 207);
  background: #295396;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: #E7EFFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

.modal-img {
  margin-top:-32%;
  padding-bottom: 12px;
  width: 100px;
  height: 100px;
}
.modal h2 {
  font-family: Raleway;
  font-weight: bold;
}

.modal p {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  padding : 0px 20px 20px 20px;
}

.button-4 {
  width:210px;
  background-color: #ED9623;
}

.button-4:hover {
  color:rgb(207, 207, 207);
  background: rgb(169, 100, 10);
}

.button-5 {
  width:210px;
  background-color: #45A834;
}

.button-5:hover {
  color:rgb(207, 207, 207);
  background-color: #337d26;
}

.foot-note {
  color: #434656;
  font-weight: bold;
  height: 100%;
  padding: 11px 0px 0px 22px;
  font-family: sans-serif;
}

/* ===================================================================== */
.quiz-result {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #012;
  height: 100vh;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Horizontally center the content */
}

.result-page {
  border-radius: 5px;
  background-color:#E7EFFF;
  width: 90%;
  height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #a3a3a3;
}

/* ===================================================================== */

.loading-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.loading-span {
  position: absolute;
  display: block;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  animation: speed 2s infinite ease-in-out;
}

.loading-one {
  background: #4285f4;
  animation-delay: 1.5s;
}

.loading-two {
  background: #ea4335;
  animation-delay: 1s;
}

.loading-three {
  background: #fbbc05;
  animation-delay: 0.5s;
}

.loading-four {
  background: #34a853;
}

@keyframes speed {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0, 150%) scale(0.5);
    border-radius: 0%;
  }
}

/* ===================================================================== */

.subtitle {
  line-height: 1.3;
  margin: 0 1rem 1.5rem 0;
}

.subtitle-center{
  text-align: center;
  padding: 0 1.5rem 1.5rem 1.5rem ;
}

.inline-block{
  display: flex;
  padding: 3.5rem 0 3.5rem 0;
  align-items: center;
}

.inline-item-1{
  margin: 0 0 0 5rem;
}

.inline-item-2{
  text-align: center;
}


.home-illustration{
  max-width: 60%;
  max-height: 60%;
}

/* Button */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  /* font-size: 2rem; */
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  background-color:#106698;
  color: white;
}

.btn-form,
.btn-form:link,
.btn-form:visited {
  display: inline-block;
  text-decoration: none;
  /* font-size: 2rem; */
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  background-color:#fff;
  color: #106698;
}
/* .btn--outline:link,
.btn--outline:visited {
  background-color:#106698;
  color: white;
} */

.btn--outline:hover,
.btn--outline:active {
  background-color:#1780BE;
  box-shadow: inset 0 0 0 3px darkgrey;
}

.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

/* Feedback */
.feedback {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #106698, #0f5882);
  overflow: hidden;
}

.feedback-text-box {
  padding: 4rem 4rem 4rem 4rem;
  color: rgba(255, 255, 255, 0.97);
  text-align: center;
}

.feedback-text {
  color: rgba(255, 255, 255, 0.97); 
}

.feedback-form {
  display: grid;
  grid-template-columns:1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.feedback-form label {
  display: block;
  /* font-size: 1.6rem; */
  /* font-weight: 500; */
  margin-bottom: 1.2rem;
  text-align: left;
}

.feedback-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: #9BD7FA;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.footer{
  text-align: center;
  background-color: #106698;
  color: white;
}

